/*PRIMARY COLOR*/
$O500: #d8681e;
$O400: #f17422;
$O300: #f38f4e;
$O200: #f6ab7a;
$O100: #f9c7a6;
$O50: #fce3d2;

/*NEUTRALS*/
$N500: #17223c;
$N400: #454e62;
$N300: #737a8a;
$N200: #a2a6b1;
$N100: #b9bcc4;
$N50: #d0d2d8;
$N25: #e7e8eb;
$N0: #ffffff;

/*SECONDARY COLORS*/
/*GREEN*/
$G500: #30a172;
$G400: #36b37f;
$G300: #5ec298;
$G200: #86d1b2;
$G100: #aee0cb;
$G50: #d6efe5;

/*RED*/
$R500: #a13030;
$R400: #b33636;
$R300: #c25e5e;
$R200: #d18686;
$R100: #e0aeae;
$R50: #efd6d6;

/*BLUE*/
$B500: #2f4ca2;
$B400: #3555b4;
$B300: #5d76c3;
$B200: #8599d2;
$B100: #aebbe1;
$B50: #d6ddf0;

/*Other colors*/
$bg-dashboard: #fffdfc;
$bg-stripe: #f5f6fa;
$light-grey: #f9f9f9;

$font-stack: Mukta, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$base-size: 10px;
