@import "base/_variables.scss";

@media only screen and (min-width: 1560px) {
}
@media only screen and (max-width: 1288px) {
}
@media only screen and (max-width: 1024px) {
  .above-fold {
    height: 50vh;
  }

  .fold--content {
    .fold--title {
      font-size: 4rem;
    }
  }
  .welcome--title {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .above-footer {
    .above-footer--info {
      font-size: 3.2rem;
    }
  }
}

@media only screen and (max-width: 640px) {
  .hidden--xs {
    display: none;
  }

  .show--xs {
    display: block;
    &.sidenav--link {
      display: flex !important;
    }
  }
  .above-fold {
    height: auto;
    padding-top: 200px;
    padding-bottom: 80px;
  }
  .row-item {
    flex-direction: column;
    .col--45 {
      width: 100%;
      margin-bottom: 32px;
    }
  }
  .form-group {
    flex-direction: column;
    align-items: center;
    .form--input {
      margin-bottom: 32px;
      border-radius: 8px;
      border: 1px solid $O50;
      width: 240px !important;
      &:last-of-type {
        border-left: 1px solid $O50;
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .above-footer {
    padding: 30% 0;
    .above-footer--info {
      max-width: 90%;
      margin: 16px auto;
    }
  }
  .footer-item {
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 10%;
    height: 180px;
  }
  .flex-end {
    flex-direction: column !important;
    .form-row {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 440px) {
}
@media only screen and (max-width: 376px) {
}
@media only screen and (max-width: 364px) {
}
@media only screen and (max-width: 340px) {
}
