.above-fold {
  height: 90vh;
  width: 100%;
  background: $N500;
  padding-top: 100px;
  margin-top: -80px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.row-item {
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.fold--content {
  span {
    display: block;
  }
  .fold--title {
    color: $N0;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.1;
  }
  .fold--desc {
    color: $N0;
    font-size: 2.4rem;
    margin: 20px 0;
    line-height: 1.2;
  }
}

.fold--image {
  .fold-image--item {
    max-width: 580px;
    max-height: 580px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.below-fold {
  width: 100%;
  background: $N25;
  padding: 10% 0;
}
.welcome--title {
  color: $N500;
  font-size: 4.5rem;
  font-weight: 700;
  display: block;
  max-width: 90%;
  line-height: 1.2;
}

.welcome--info {
  color: $N300;
  font-size: 2.4rem;
  margin-bottom: 20px;
  line-height: 1.4;
  display: block;
}
.feat-item {
  padding: 5% 0;
}

.feat--title {
  color: $N500;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.4;
  display: block;
}

.feat--info {
  color: $N300;
  font-family: Mukta;
  font-size: 1.8rem;
  line-height: 1.5;
  display: block;
  margin-top: 8px;
  max-width: 84%;
  a {
    font-weight: 500;
    font-size: 1.8rem;
  }
}

.feat--img {
  max-width: 480px;
  max-height: 480px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}
.section--head {
  color: $N500;
  font-family: Mukta;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  margin: 20px 0;
}

.above-footer {
  background: $O400;
  padding: 10% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  .above-footer--info {
    display: block;
    margin-bottom: 16px;
    font-size: 4.5rem;
    font-weight: bold;
    color: $N0;
    line-height: 1.4;
    text-align: center;
  }
}

.footer-item {
  height: 100px;
  background: $N500;
}

.footer-item {
  padding: 0 10%;
  align-items: center;
  .footer--brand {
    width: 120px;
  }
  .footer--credits {
    color: $N0;
    opacity: 0.8;
  }
  .footer--link {
    color: $N0;
    opacity: 0.8;
  }
}
