.above-fold {
  height: 90vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(16, 24, 79, 1) 0%,
    rgba(23, 34, 60, 1) 100%
  );
  padding-top: 100px;
  margin-top: -80px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.row-item {
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.fold--content {
  span {
    display: block;
  }
  .fold--title {
    color: $N0;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.1;
  }
  .fold--desc {
    color: $N0;
    font-size: 2.4rem;
    margin: 20px 0;
    line-height: 1.2;
  }
}

.fold--image {
  .fold-image--item {
    max-width: 580px;
    max-height: 580px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.below-fold {
  width: 100%;
  background: $N25;
  padding: 10% 0;
}
.welcome--title {
  color: $N500;
  font-size: 4.5rem;
  font-weight: 700;
  display: block;
  max-width: 90%;
  line-height: 1.2;
}

.welcome--info {
  color: $N300;
  font-size: 2.4rem;
  margin-bottom: 20px;
  line-height: 1.4;
  display: block;
}
.feat-item {
  padding: 5% 0;
}

.feat--title {
  color: $N500;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.4;
  display: block;
}

.feat--info {
  color: $N300;
  font-family: Mukta;
  font-size: 1.8rem;
  line-height: 1.5;
  display: block;
  margin-top: 8px;
  max-width: 84%;
  a {
    font-weight: 500;
    font-size: 1.8rem;
  }
}

.feat--img {
  max-width: 480px;
  max-height: 480px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}
.section--head {
  color: $N500;
  font-family: Mukta;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  margin: 20px 0;
}

.above-footer {
  background: linear-gradient(
    180deg,
    rgba(246, 171, 122, 1) 0%,
    rgba(244, 154, 95, 1) 17%,
    rgba(243, 143, 78, 1) 28%,
    rgba(241, 116, 34, 1) 100%
  );
  padding: 10% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.above-footer--info {
  display: block;
  margin-bottom: 16px;
  font-size: 4.5rem;
  font-weight: bold;
  color: $N0;
  line-height: 1.4;
  text-align: center;
}
.above-footer--desc {
  color: $N0;
  font-size: 2.4rem;
  margin-top: 24px;
}

.pg-status {
  background: linear-gradient(
    180deg,
    rgba(246, 171, 122, 1) 0%,
    rgba(244, 154, 95, 1) 17%,
    rgba(243, 143, 78, 1) 28%,
    rgba(241, 116, 34, 1) 100%
  );
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-item {
  height: 100px;
  background: $N500;
}

.footer-item {
  padding: 0 10%;
  align-items: center;
  .footer--brand {
    width: 120px;
  }
  .footer--credits {
    color: $N0;
    opacity: 0.8;
  }
  .footer--link {
    color: $N0;
    opacity: 0.8;
  }
}
.form-group {
  display: flex;
  justify-content: center;
  .form--input {
    height: 40px;
    line-height: 40px;
    font-size: 1.6rem;
    background: none;
    border: 1px solid $O50;
    padding: 0 12px;
    color: $N0;
    &::-webkit-input-placeholder {
      color: $N0 !important;
      font-weight: 500;
    }
    &:first-of-type {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      width: 200px;
    }
    &:last-of-type {
      width: 260px;
      margin-right: -4px;
      border-left: none;
    }
  }
  a.btn {
    margin-left: -4px;
  }
}
