.above-fold {
  height: 90vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(16, 24, 79, 1) 0%,
    rgba(23, 34, 60, 1) 100%
  );
  padding-top: 100px;
  margin-top: -80px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.row-item {
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.fold--content {
  span {
    display: block;
  }
  .fold--title {
    color: $N0;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.1;
  }
  .fold--desc {
    color: $N0;
    font-size: 2.4rem;
    margin: 20px 0;
    line-height: 1.2;
  }
}

.fold--image {
  .fold-image--item {
    max-width: 580px;
    max-height: 580px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.below-fold {
  width: 100%;
  background: $N25;
  padding: 10% 0;
}
.welcome--title {
  color: $N500;
  font-size: 4.5rem;
  font-weight: 700;
  display: block;
  max-width: 90%;
  line-height: 1.2;
}

.welcome--info {
  color: $N300;
  font-size: 2.4rem;
  margin-bottom: 20px;
  line-height: 1.4;
  display: block;
}
.feat-item {
  padding: 5% 0;
}

.feat--title {
  color: $N500;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.4;
  display: block;
}

.feat--info {
  color: $N300;
  font-family: Mukta;
  font-size: 1.8rem;
  line-height: 1.5;
  display: block;
  margin-top: 8px;
  max-width: 84%;
  a {
    font-weight: 500;
    font-size: 1.8rem;
  }
}

.feat--img {
  max-width: 480px;
  max-height: 480px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}
.section--head {
  color: $N500;
  font-family: Mukta;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  margin: 20px 0;
}

.above-footer {
  background: linear-gradient(
    180deg,
    rgba(246, 171, 122, 1) 0%,
    rgba(244, 154, 95, 1) 17%,
    rgba(243, 143, 78, 1) 28%,
    rgba(241, 116, 34, 1) 100%
  );
  padding: 10% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  .above-footer--info {
    display: block;
    margin-bottom: 16px;
    font-size: 4.5rem;
    font-weight: bold;
    color: $N0;
    line-height: 1.4;
    text-align: center;
  }
}

.footer-item {
  height: 100px;
  background: $N500;
}

.footer-item {
  padding: 0 10%;
  align-items: center;
  .footer--brand {
    width: 120px;
  }
  .footer--credits {
    color: $N0;
    opacity: 0.8;
  }
  .footer--link {
    color: $N0;
    opacity: 0.8;
  }
}
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 80; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.card-large {
  width: 880px;
  height: 440px;
  border-radius: 8px;
  box-shadow: 12px 12px 32px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  margin: 8% auto 0 auto;
  z-index: 100;
  padding: 32px;
  position: relative;
  &.modal-content {
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  .close {
    color: $N500;
    position: absolute;
    right: 36px;
    top: 0;
    font-size: 4rem;
    font-weight: 600;
    &:hover,
    &:focus {
      text-decoration: none;
      cursor: pointer;
    }
  }
}
.modal-item {
  align-items: center;
  height: 100%;
  .modal--title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.29;
    color: $N500;
    display: block;
    margin-bottom: 8px;
  }
  .modal--desc {
    font-size: 2rem;
    line-height: 1.4;
    color: $N400;
  }
}
.modal--form {
  padding: 0 24px;
}
.form-row {
  margin-bottom: 24px;
  flex-direction: column;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
}
.form--input,
.form--select {
  border-radius: 2px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
  background: $N25;
  border: 0;
  transition: all 0.3s linear;
  color: $N400;
  box-sizing: border-box;
  &:hover {
    background: $light-grey;
  }
  &:focus {
    background: $N0;
    border: 1px solid $O400;
    box-shadow: none;
  }
}

.form--label {
  font-weight: 600;
  color: $N300;
  margin-bottom: 2px;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
